.home-container {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
  padding-bottom: 20px;
}

/* Hero Section */
.hero {
  padding: 50px 0;
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* Search Bar */
.searchContainer {
  margin: 20px;
}

.search-input {
  padding: 10px;
  width: 250px;
}

.search-button {
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

/* Movie Cards */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.movie-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 15px;
}

.movie-image {
  width: 100%;
  border-radius: 10px;
}

.book-now-button {
  background: #ff5733;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
}

.book-now-button:hover {
  background: #c70039;
}

/* About Section */
.about {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
}

.footer {
  background: #333;
  color: white;
  padding: 10px;
}
